.info-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 91%);
    padding: 1em;
}

.info-item {
    display: flex;
}

.info-item span {
    padding-right: .5em;
    font-size: 17px;
}

.links {
    padding-top: 1em;
}

.links i {
    border: 1px solid #555;
    margin: 1em;
    font-size: 20px;
    padding: .5em;
    border-radius: 10px;
    color: #212529;
}

.links i:hover {
    background-color: #212529;
    color: #fff;
    transition: .3s ease-in;
}

hr {
    width: 80px;
    padding: 2px;
}

.company, .alumni {
    font-style: italic;
    font-weight: 500;
}

li {
    list-style-type: circle;
}

.skill {
    list-style: none;
    padding: 0 .7em;
    margin: .5em;
    width: 100px;
    text-align: left;
    font-weight: 600;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: .5em;
}

.work-container:first-of-type {
    padding-bottom: 1.2em;
}

.work-list li {
    list-style: none;
}

.work-list span {
    padding-right: .3em;
}

.cert-list:last-of-type {
    padding-bottom: 0em !important;
}